@keyframes gradient-button{
	from{}
	to {background: #0094C6;}
}

/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
  margin-bottom: 30px;
  border-radius: 0;
  background: #023F88;
  border: black 1px solid;
}

/* Remove the jumbotron's default bottom margin and add a background color */
.jumbotron {
   background-color: #59BEE7;
   margin-bottom: 0;
   padding: 0;
   background-image: url("Images/Atlas.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: bottom left;
}

/* Add a very light blue background to the document */
body {
  background-color: #F6FFFF;
}
/* Add a gray background color and some padding to the footer */
footer #footerlinks{
  background-color: #023F88;
  padding: 20px;
  color: white;
}

footer #footercontact{
  background-color: #000000;
  padding: 20px;
  color: white;
  position: absolute;
  width: 100%;
  bottom: 0px;
}
/* left navigation menu */
  .center-block {
   margin-top:10px;
   display:block;
}

.navbar-header{
  margin-bottom: 25px;
}


/* Making text color black */
.navbar .nav > li > a {
color:          white;
text-shadow:    none;
padding-left: 30px;
}
.navbar .nav > li > a:hover{
	color: black;
	animation: gradient-button 0.5s forwards;
}
.btn {
  border-radius: 0;
  transition: all 0.5s;
  cursor: pointer;
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '\203a';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

.btn-group {
  margin-bottom: 10px;
  padding-right: 20px;
}

@font-face{
  font-family: tuefont;
  src: url(ufonts.com_meta-normal-roman.ttf);
}

.tuefont {
  font-family: tuefont;
}

.textbox {
  background-color: #edfe19;
}

.sidemenu {
  margin-left: 10%;
  margin-right: 10%;
}

.home-blocks {
  margin-top: 3%;
}

.panelbachelor {
  background-color: #008675;
  border-radius: 0;
  margin-top: 0px;
}

.panelpre {
  background-color: #008675;
  border-radius: 0;
}

.panelmaster {
  background-color: #008675;
  border-radius: 0;
}

.panelpost {
  background-color: #008675;
  border-radius: 0;
}
.backgroundimg {
	background-image: url("Images/Atlas.jpg");
	background-repeat:no-repeat;
	background-size: cover;
}
