/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
  margin-bottom: 50px;
  border-radius: 0;
}

/* Remove the jumbotron's default bottom margin and add a background color */
.jumbotron {
   background-color: #59BEE7;
   margin-bottom: 0;
   padding: 0;
}

/* Add a very light blue background to the document */
body {
  background-color: #F6FFFF;
}
/* Add a gray background color and some padding to the footer */
footer {
  background-color: #e6faff;
  padding: 25px;
}

.center-block {
   margin-top:40px;
   display:block;
}

.navbar-header{
  margin-bottom: 25px;
}

/* Setting black border of 1px and setting background color */
.navbar {
	background: #0568A7;
	border: #000 1px solid;
}

/* Making text color black */
.navbar .nav > li > a, .navbar .nav > li > a:first-letter {
color:          white;
text-shadow:    none;
}

.btn-block {
	border-radius: 0;
}