/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
  margin-bottom: 30px;
  border-radius: 0;
  background: #0568A7;
  border: black 1px solid;
}

/* Remove the jumbotron's default bottom margin and add a background color */
.jumbotron {
   background-color: #59BEE7;
   margin-bottom: 0;
   padding: 0;
}

/* Add a very light blue background to the document */
body {
  background-color: #F6FFFF;
}
/* Add a gray background color and some padding to the footer */
footer {
  background-color: #e6faff;
  padding: 25px;
}
/* left navigation menu */
  .center-block {
   margin-top:10px;
   display:block;
}

.navbar-header{
  margin-bottom: 25px;
}


/* Making text color black */
.navbar .nav > li > a, .navbar .nav > li > a:first-letter {
color:          white;
text-shadow:    none;
}

.btn-block {
	border-radius: 0;
  box-shadow: 3px 3px 10px #888888
}

@font-face{
  font-family: tuefont;
  src: url(ufonts.com_meta-normal-roman.ttf);
}

.tuefont {
  font-family: tuefont;
}

.textbox {
  background-color: #edfe19;
}

.sidemenu {
  margin-left: 10%;
  margin-right: 10%;
}
